.content {
    position: relative;
    padding: 215px 0 139px;
}

.content::before,
.content::after {
    position: absolute;
    width: 100%;
    content: "";
}

.content::before {
    top: 0;
    height: 251px;
    background-image: url("../../../public/img/guitar.png");
    background-repeat: no-repeat;
    background-position: top -38px right;
}

.content::after {
    bottom: 0;
    left: 0;
    height: 139px;
    background-image: url("../../../public/img/guitar.png");
    background-repeat: no-repeat;
    background-position: right 0 bottom 50px;
    transform: rotate(180deg);
}

.content__container {
    width: 100%;
    min-width: 1020px;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.content__title {
    font-size: 22px;
    line-height: 30px;
}

.breadcrumbs {
    margin-top: 15px;
    margin-bottom: 40px;
}

.catalog {
    display: grid;
    align-content: start;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 0 25px;
    grid-template-areas: 
        "filters sorter"
        "filters catalog"
        "filters pagination";
    grid-template-columns: 215px 1fr;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    justify-items: start;
}

.catalog__filter {
    margin-bottom: 20px;
}

.catalog-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-area: filters;
}