.catalog-sort {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 3px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    grid-area: sorter;
}

.catalog-sort__title {
    margin: 0 20px 0 0;
    font: inherit;
}

.catalog-sort__type {
    display: grid;
    grid-auto-flow: column;
    column-gap: 28px;
}

.catalog-sort__type-button {
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: color 0.3s ease, outline-color 0.3s ease;
    letter-spacing: 0.05em;
    appearance: none;
}

/* .catalog-sort__type-button:not(:last-child) {
    margin-right: 30px;
} */

.catalog-sort__type-button:hover {
    color: #c90606;
}

.catalog-sort__type-button:focus {
    outline: 1px solid #c90606;
    outline-offset: 1px;
}

.catalog-sort__type-button--active {
    color: #000000;

    pointer-events: none;
}

.catalog-sort__order {
    display: flex;
    align-items: center;

    margin-right: 9px;
    margin-left: auto;
}

.catalog-sort__order-button {
    position: relative;

    width: 0;
    height: 0;
    padding: 0;

    border-width: 12px 7px 0;
    border-color: transparent;
    border-top-color: #585757;
    background-color: transparent;

    cursor: pointer;
    -webkit-transition: border-top-color 0.3s ease, outline-color 0.3s ease;
    transition: border-top-color 0.3s ease, outline-color 0.3s ease;
}

.catalog-sort__order-button::before {
    top: 50%;
    left: 50%;
    position: absolute;

    width: 30px;
    height: 30px;

    content: "";
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.catalog-sort__order-button--up {
    border-width: 0 7px 12px;
    border-top-color: transparent;
    border-bottom-color: #585757;
}

.catalog-sort__order-button--up::before {
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
}

.catalog-sort__order-button--down {
    margin-left: 23px;
}

.catalog-sort__order-button--down::before {
    -webkit-transform: translate(-50%, -75%);
    transform: translate(-50%, -75%);
}

.catalog-sort__order-button--active {
    border-top-color: #131212;

    pointer-events: none;
}

.catalog-sort__order-button:hover {
    border-top-color: #c90606;
}

.catalog-sort__order-button:focus {
    outline: 1px solid #c90606;
    outline-offset: 1px;
}