.item {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 25px;
    height: 25px;

    border: 0.7px solid #585757;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;

    font-size: 12px;
    line-height: 20px;

    letter-spacing: 0.05em;
}

.pagination__page-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border: 0.7px solid #585757;
    border-radius: 2px;

    -webkit-transition: color 0.3s ease, border-color 0.3s ease;
    transition: color 0.3s ease, border-color 0.3s ease;
}