body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FEFAFA;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    margin: 0;
}